<h2>Recruitment Task</h2>
<div class="logo-container">
  <img src="./../../../assets/img/zf_logo.png" alt="" srcset="">
</div>
<button class="reset-button main-button" routerLink="movies">Go to movies</button>
<div class="text">
  <h3>Use following technologies:</h3>
  <p>
    <br>
     Language - Java
    <br>
     Framework - Spring Boot
    <br>
     Project management - Maven
  </p>
  <h3>Create REST Web Service</h3>
  <p>
    <br>
    1.2 Requirements:
    <br>
     Service has to communicate with DB
    <br>
    o On startup application has to create entire DB structure
    o In memory DB can be used
     Map to DB at least two entities using JPA.
    o Entities should be in relation – one to many or many to many
    o One of the entities has to be implemented using inheritance
     It should be possible to perform CRUD operations on entities through exposed
    WEB API
     Create at least one unit test for calling exposed WEB API and at least one unit test
    for business logic
     Create at least one integration test
     Application should log relevant information to file
     Exposed API should be documented
    o Swagger UI can be used
     Project should be tracked by GIT
    o Put repository on github.com</p>
  <p>
    Create UI for consuming Web Service
     Create simple UI which will use REST API of the implemented service.
     UI should allow for performing at least CRUD operations for a single entity.
     Use any SPA technology
     Project should be tracked by GIT
    o Put repository on github.com
  </p>
</div>
