:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.logo-container {
  width: 30vw;
  opacity: .8;

  &>img {
    width: 100%;
  }
}

.welcome-button {
  width: 10rem;
  height: 1rem;

}

.text {
  padding: 0 10rem;
}
