:host {
  display: block;
  width: 100%;
  height: 100px;
}

.my-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.front {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #CBCBCB;
}

.back {
  position: absolute;
  display: block;
  z-index: 1 !important;
}
