<app-movie [movie]="movie"></app-movie>
<div class="movie-actors">
  <div class="movie-actors-card">
    <div class="movie-actors-card-content">
      <div class="movie-actors-card-header">
        <p class="movie-actors-card-heading">Obsada</p>
        <app-squared-button icon="true" size="3rem" (click)="openAddActorToMovieDialog()"></app-squared-button>
      </div>
      <div class="scroll-container">
        <!--TODO: Add slicker gallery instead of scroll-->
        <app-photo-overlay *ngFor="let actor of movie.actors" [actor]="actor" (removed)="onActorRemoved($event)">
        </app-photo-overlay>
      </div>
    </div>
    <div class="movie-actors-card-underlay"></div>

  </div>
</div>
