<app-movie></app-movie>
<div class="movie-actors">
  <div class="movie-actors-card">
    <div class="movie-actors-card-content">
      <div class="movie-actors-card-header">
        <p class="movie-actors-card-heading">Obsada</p>
        <app-squared-button icon="true" size="3rem"></app-squared-button>
      </div>
      <div class="scroll-container">
        <app-photo-overlay></app-photo-overlay>
        <app-photo-overlay></app-photo-overlay>
        <app-photo-overlay></app-photo-overlay>
        <app-photo-overlay></app-photo-overlay>
        <!-- <div class="actor">
          <img src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Daniel_Radcliffe_SDCC_2014.jpg" alt=""
            srcset="">
        </div>
        <div class="actor">
          <img src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Daniel_Radcliffe_SDCC_2014.jpg" alt=""
            srcset="">
        </div>
        <div class="actor">
          <img src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Daniel_Radcliffe_SDCC_2014.jpg" alt=""
            srcset="">
        </div> -->
      </div>
    </div>
    <div class="movie-actors-card-underlay"></div>
  </div>
</div>
