@import './../../../../utils/utils.scss';

:host {
  display: block;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(102, 51, 153, 0.281);
  padding: 1rem;
  //   display: flex;
  margin-bottom: 2rem;
}

.movie-actors {
  //   background-color: red;
  //   height: 10vh;
  min-height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  //   transform: translate(50%, 50%);

  &-card {
    max-width: 1000px;
    // min-width: 50%;
    width: 95%;
    // background-color: rosybrown;
    position: relative;

    &-content {
      height: 100%;
      background-color: $div-content-color;
      z-index: 1;
      position: relative;
      padding: 1rem;
    }

    &-header {
      display: flex;
      justify-content: space-between;

    }

    &-heading {
      color: $typography-first-color;
      position: relative;
      font-size: 1.5rem;

      &::before {
        content: '';
        display: block;
        width: 6rem;
        height: 7px;
        background-color: $second-color;
        position: absolute;
        bottom: -2px;
      }
    }

    &-underlay {
      width: 95%;
      height: 95%;
      background-color: $underlay-color;
      position: absolute;
      right: -1rem;
      bottom: -1rem;
      z-index: 0;

      &::before {
        content: '';
        display: block;
        width: 1rem;
        height: 1rem;
        background-color: $third-color;
        position: absolute;
        bottom: 0px;
        right: 0px;
      }
    }
  }
}

.scroll-container {
  margin-top: 1rem;
  width: 100%;
  //   background-color: royalblue;
  height: 80%;
  display: flex;
  //   justify-content: center;
  overflow-x: auto;
  padding: 1rem;

  &::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.1);
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: rgba(245, 245, 245, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    // box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: $first-color;
  }

  // &>app-photo-overlay {
  //   flex-basis: 25%;
  // }
}
