@import './../../../utils/utils.scss';

:host {
  width: 100%;
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}


.nav {
  @media(max-width: 768px) {
    display: block;
  }

  display: inline-flex;
  flex-direction: column;
  padding: 0 1rem;
  //   justify-content: center;
  align-items: center;
  background-color: $background-color;


  &-header {
    padding-bottom: 0;
  }

  &-links {
    // background-color: rebeccapurple;
    display: flex;
  }

  &-link {
    margin-left: 10px;
    width: 5rem;
    text-align: center;


    //RESET
    color: inherit;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }

    &.active>&-line {
      height: 10px;
    }

    &-line {
      display: block;
      width: 100%;
      height: 7px;
      //   background-color: rosybrown;

      &--movies {
        background-color: $first-color;
      }

      &--actors {
        background-color: $second-color;
      }

      &--series {
        background-color: $third-color;
      }
    }

  }
}
