<div class="nav">
  <h1 class="nav-header">ZF MOVIE</h1>
  <div class="nav-links">
    <a class="nav-link" routerLinkActive="active">
      <span class="nav-link-line nav-link-line--movies"></span>
      <span class="nav-link-text">Movies</span>
    </a>
    <a class="nav-link" routerLinkActive="active">
      <span class="nav-link-line nav-link-line--actors"></span>
      <span class="nav-link-text">Actors</span>
    </a>
    <a class="nav-link" routerLinkActive="active">
      <span class="nav-link-line nav-link-line--series"></span>
      <span class="nav-link-text">Series</span>
    </a>
  </div>
</div>
