:host {
  display: block;
  margin-top: 1rem;
  display: flex;
  //   justify-content: center;
  align-items: center;
  //   background-color: cornflowerblue;
}

app-squared-button {
  margin-right: .7rem;
}
