@import './../../../../utils/utils.scss';

:host {
  // position: relative;
  // display: block;
  transition: all ease-in-out .2s;
  margin: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actor {
  width: 130px;
  height: 140px;
  background-color: black;
  position: relative;
  overflow: hidden;
  border-radius: 50%;

  &>img {
    width: 100%;
    width: 100%;
    opacity: .7;
    object-fit: cover;
  }

  &-bio {
    text-align: center;
    line-height: 2.5rem;
    display: block;
    color: $underlay-color;
    font-size: .9rem;
    letter-spacing: 2px;
    min-width: 144px;
  }

  &-overlay {
    background-color: $underlay-color;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    font-size: .8rem;
    color: #EDDADA;
    cursor: pointer;
    transform: translateY(100%);
    transition: all ease-in-out .4s;
  }

  &:hover>&-overlay {
    transform: translateY(60%);
    // background-color: salmon;
  }
}

mat-icon {
  font-size: 22px;
  height: 22px;
  width: 22px;
  line-height: 22px;
  // color: #E0DBDB;
  opacity: .8;
  transition: all ease-in-out .2s;

  &:hover {
    transform: scale(1.1);
    opacity: 0.95;
    cursor: pointer;
  }
}
