@import './../../../../utils/utils.scss';

.actor {
  min-width: 150px;
  margin-right: .5rem;
  margin-left: .5rem;
  //   background-color: salmon;
  position: relative;
  overflow: hidden;

  & img {
    // width: 100%;
    width: 100%;
    max-width: 200px;
    height: auto;
    // height: 50%;
    opacity: .9;
    // height: 100%;
  }

  &-bio {
    position: absolute;
    width: 100%;
    height: 3rem;
    background-color: $underlay-color;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EDDADA;
    font-size: .8rem;
    letter-spacing: 2px;
    box-shadow: 0px -4px 20px -4px rgba(0, 0, 0, 0.75);
  }
}
