@import './../../../../utils/utils.scss';

:host {
  position: relative;
  transition: all ease-in-out .2s;
}

.actor {
  width: 170px;
  height: 14rem;
  margin-right: .5rem;
  margin-left: .5rem;
  background-color: black;
  position: relative;
  overflow: hidden;
  // border-radius: 2px 2px 7px 7px;

  &>img {
    width: 100%;
    width: 100%;
    opacity: .7;
    object-fit: cover;
  }

  &-bio {
    position: absolute;
    width: 100%;
    height: 3rem;
    background-color: $underlay-color;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EDDADA;
    font-size: .8rem;
    letter-spacing: 2px;
    box-shadow: 0px -4px 20px -4px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

:host:hover>.delete-container {
  opacity: 1;
}

mat-icon {
  font-size: 22px;
  height: 22px;
  width: 22px;
  line-height: 1rem;
  color: #EDDADA;
  opacity: .6;
  transition: all ease-in-out .3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

// .delete-container {
//   transition: all ease-in-out .6s;
//   position: absolute;
//   right: -.4rem;
//   top: -.9rem;
//   width: 1.9rem;
//   height: 1.9rem;
//   background-color: $underlay-color;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-radius: 50%;

//   opacity: 0;

//   & mat-icon {
//     font-size: 20px;
//     height: 20px;
//     width: 20px;
//     line-height: 20px;
//     color: #E0DBDB;
//     opacity: .8;
//   }
// }
