@import '././../../../../utils/utils.scss';

$text-color:#E3E0E0;
$text-color-lighter:rgba(227, 224, 224, 0.7);

:host {

  padding: 1rem;
  display: flex;
  justify-content: center;
  min-width: 250px;
  max-width: 300px;
}

.grid-container {
  max-width: 300px;
  min-height: 500px;
  display: grid;
  width: 100%;
  height: 100%;
  //   min-height: 50vh;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 6.5fr 0.7fr;
  gap: 10px 1px;
  grid-template-areas: "header""content""actions";
  position: relative;
  transition: all ease-in-out .2s;

  &.detail {
    cursor: pointer;

    &:hover {
      transform: scale(1.02);
      opacity: 0.95;
      // cursor: pointer;
    }
  }
}

.header,
.content {
  background-color: $underlay-color;
  box-shadow: -10px -15px 60px 0px rgba(0, 0, 0, 0.45);
}

.header {
  // max-height: ;
  grid-area: header;
  //   background-color: saddlebrown;
  padding: 1rem;
  text-align: center;

  &-title {
    color: $text-color;
    font-size: 1.3rem;
    letter-spacing: 2px;
    // font-weight: 300;
  }
}

.content {
  grid-area: content;
  padding: 2rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-description {
    margin-top: 25%;
    font-size: .85rem;
    text-align: justify;
    color: $text-color-lighter;

    &-squared {
      margin-top: 0;
    }
  }

  //   background-color: salmon;
}

.actions {
  //   background-color: seagreen;
  display: grid;
  grid-template-columns: 1fr .2fr .2fr;
  grid-template-rows: 1fr;
  gap: 1px 10px;
  grid-template-areas: "filmography edit delete";
  grid-area: actions;

  &-action {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color-lighter;

    transition: all ease-in-out .2s;

    &:hover {
      transform: scale(1.1);
      opacity: 0.8;
      cursor: pointer;
    }
  }
}

.filmography,
.edit,
.delete {
  background-color: #252422;
}

.filmography {
  grid-area: filmography;
  padding-left: 2rem;
  color: $text-color;

  &>app-next-back-button {
    height: 100%;
  }
}

.edit {
  grid-area: edit;
}

.delete {
  grid-area: delete;
}

.photo-container {
  position: absolute;
  background-color: $background-color;
  width: 150px;
  height: 155px;
  top: 30%;
  left: 50%;
  border-radius: 50%;
  border: 5px solid $second-color;
  transform: translate(-50%, -50%);
  overflow: hidden;

  & img {
    width: 100%;
    object-fit: cover;
  }
}
