:host {
  margin-top: 2rem;
  //   padding: 0 5rem;
  //   background-color: yellow;
  display: block;

  padding: 0 2vw;
  //   height: 100%;
  flex: 1;

  @media (min-width: 768px) {
    flex-direction: row;
    // padding: 0 5vw;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
    padding: 0 10vw;
  }
}

app-squared-button {
  position: fixed;
  bottom: 2px;
  right: 5px;

  @media(min-width: 768px) {
    bottom: 5%;
    right: 5%;

  }
}
