:host {
  padding: 0.2rem;
  padding-right: 1rem;
  display: flex;
  //   background-color: blueviolet;
  //   
  margin-top: 1rem;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.actor-photo {
  // position: sticky;
  width: 3.5rem;
  height: 3.5rem;
  top: 0;
  left: 0;
  overflow: hidden;
  position: relative;
  border-radius: 50%;


  & img {
    //   opacity: .8;
    width: 100%;
    width: 100%;
    object-fit: cover;
  }
}


.text-container {
  flex-grow: 1;
  padding-left: 1rem;

  &:hover+.actor>.actor-photo {
    visibility: visible;
    transform: scale(2);
  }
}

p {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
}

.overlay {
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(192, 192, 192, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;

  &>h4 {
    margin-bottom: .2rem;
  }
}
