:host {
  display: flex;
  align-items: center;
  opacity: 0.65;
  transition: all ease-in-out .2s;

  &:hover {
    transform: scale(1.1);
    opacity: 0.8;
    cursor: pointer;
  }
}

mat-icon {
  font-size: 32px;
  height: 32px;
  width: 32px;
  line-height: 32px;
}

p {
  //   font-size: 1.1rem;
}
