$background-color:#E9EBEE;
$first-color: #01295F;
$second-color: #BC5F04;
$third-color: #016FB9;
$div-content-color:#CBCBCB;
$underlay-color: #252422;
$underlay-color-lighter:#3B3A38;
$typography-first-color: rgba(0, 0, 0, 0.9);
