@import './../../../utils/utils.scss';

.poster-container {
  background-color: $underlay-color;
  box-shadow: -2px -2px 10px 0px rgba(0, 0, 0, 0.45);
}

.poster {

  transform: translate(17px, 17px);

  &>img {
    max-width: 100%;
    // height: 100%;
  }
}
