@import './../../../../utils/utils.scss';

// $text-color-lighter:rgba(227, 224, 224, 0.7);
:host {
  display: block;
  padding-top: 3rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media(min-width: 576px) {
    align-items: flex-start;
    flex-direction: row;
  }
}

.filmography {
  padding: 1rem;
  width: 100%;

  @media(min-width: 576px) {
    width: 50%;
  }

  &-heading {
    text-align: center;
    line-height: 2.5rem;
    height: 2.5rem;
    font-size: 1.3rem;
    min-width: 260px;
    background-color: $underlay-color;
    color: $typography-second-color;
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // flex: 1;

    @media (min-width: 1200px) {
      justify-content: flex-start;
    }

    & app-movie-poster {
      min-width: 150px;
      margin: 1rem;
      flex-basis: 24%;
      // max-width: 150px;


      transition: all ease-in-out .2s;

      &:hover {
        transform: scale(1.05);
        opacity: 0.95;
        cursor: pointer;
      }
    }
  }
}
