<form class="example-form" #createActorForm="ngForm">

  <mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input class="form-control" matInput placeholder="Emma" name="firstName" required [(ngModel)]="actor.firstName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Second Name</mat-label>
    <input matInput placeholder="Watson" name="secondName" required [(ngModel)]="actor.secondName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Lorem ipsum dolor sit amet..." rows="6" name="description" required
      [(ngModel)]="actor.description"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Poster URL</mat-label>
    <input matInput placeholder="http://..." name="posterUrl" required [(ngModel)]="actor.posterUrl">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Birthplace</mat-label>
    <input matInput placeholder="Czestochowa" name="placeOfBirth" required [(ngModel)]="actor.placeOfBirth">
  </mat-form-field>


  <mat-form-field class="example-full-width" color="accent">
    <mat-label>Born date</mat-label>
    <input matInput [matDatepicker]="picker2" required name="born" [(ngModel)]="actor.born">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 color="primary"></mat-datepicker>
  </mat-form-field>
</form>
<!-- <button type="submit" class="main-button main-button--save" [disabled]="createMovieForm.invalid">Create</button> -->
