<div class="poster-container">
  <div class="poster">
    <img src="https://fwcdn.pl/fpo/30/08/113008/7166226.3.jpg" alt="">
  </div>
</div>
<div class="info-container">
  <div class="info">
    <div class="info-content">
      <p class="info-content-heading">Harry Potter i Zakon Feniksa</p>
      <p class="info-content-description">Harry i jego przyjaciele zakładają tajne stowarzyszenie "Gwardię
        Dumbledore'a", aby przygotować się do starcia z Voldemortem.</p>
      <!-- <app-squared-button></app-squared-button> -->
      <app-squared-paragraph>Lorem ipsum dolor sit amet.</app-squared-paragraph>
      <app-squared-paragraph>Lorem ipsum dolor sit amet.</app-squared-paragraph>
      <app-squared-paragraph>Lorem ipsum dolor sit amet.</app-squared-paragraph>
      <app-squared-paragraph>Lorem ipsum dolor sit amet.</app-squared-paragraph>
      <div class="action-container">
        <mat-icon>delete_forever</mat-icon>
        <mat-icon>edit</mat-icon>
        <app-next-back-button>Obsada</app-next-back-button>
      </div>
    </div>
    <div class="info-underlay">
      <div class="info-underlay-dot"></div>
    </div>
  </div>
</div>
