@import './../../../../utils/utils.scss';

:host {
  //   background-color: yellow;
  width: 100%;
  display: flex;
  align-items: center;
  //   align-items: stretch;
  justify-content: space-evenly;
  //   align-content: flex-end;
  flex-direction: column;
  padding-bottom: 2rem;
  margin-top: 4rem;
  //   height: 100%;
  //   flex: 1;

  @media (min-width: 768px) {
    flex-direction: row;
    // padding: 0 5vw;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
    // padding: 0 5vw;
  }
}

.poster-container {
  //   background-color: red;
  flex-basis: 25%;
  //   height: 20vh;
  background-color: $underlay-color;
  min-width: 12rem;
  max-width: 16rem;
  //   min-height: 440px;
  //   width: 330px;
  //   max-height: 100%;
}

.poster {
  //   height: 100%;
  //   width: 100%;
  //   background-color: burlywood;
  transform: translate(17px, 17px);

  &>img {
    width: 100%;
  }
}

.info-container {

  align-self: stretch;
  flex-basis: 65%;
  position: relative;
  display: flex;
  align-items: center;
  //   background-color: burlywood;
  //   max-width: 800px;
  padding: 0rem 1rem;

  //   @media (min-width: 992px) {
  //     flex-basis: 70%;
  //   }
}

.info {
  min-height: 22rem;
  width: 100%;
  //   background-color: coral;
  position: relative;
  display: flex;
  margin-top: 2rem;

  @media(min-width:768px) {
    margin-top: 0;
    // min-width: 600px;
  }

  &-content {
    background-color: $div-content-color;
    z-index: 1;
    position: relative;
    width: 100%;
    padding: 1rem;

    &-heading {
      color: $typography-first-color;
      position: relative;
      font-size: 1.5rem;

      &::before {
        content: '';
        display: block;
        width: 7rem;
        height: 7px;
        background-color: $first-color;
        position: absolute;
        bottom: -2px;
      }
    }

    &-description {
      margin-top: 2rem;
      margin-bottom: 2rem;
      max-width: 40rem;
    }

  }

  &-underlay {
    width: 95%;
    height: 95%;
    background-color: $underlay-color-lighter;
    position: absolute;
    z-index: 0;
    display: flex;
    justify-content: flex-end;
    box-shadow: 2px -2px 10px 0px rgba(0, 0, 0, 0.45);
    bottom: -1rem;
    right: -1rem;

    @media(min-width:768px) {
      top: -1rem;
    }

    &-dot {
      display: inline-block;
      height: 1rem;
      width: 1rem;
      background-color: $second-color;
    }
  }
}

.action-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &>mat-icon {
    opacity: 0.65;
    margin-right: .5rem;

    transition: all ease-in-out .2s;

    &:hover {
      transform: scale(1.1);
      opacity: 0.8;
      cursor: pointer;
    }
  }

  //   background-color: cornflowerblue;
}
