<app-movie-poster [posterUrl]="movie.posterUrl"></app-movie-poster>
<div class="info-container">
  <div class="info">
    <div class="info-content">
      <p class="info-content-heading">{{movie.title}}</p>
      <p class="info-content-description">{{movie.description}}</p>
      <!-- <app-squared-button></app-squared-button> -->
      <app-squared-paragraph><b>Director:</b> {{movie.director}}</app-squared-paragraph>
      <app-squared-paragraph><b>Genre:</b> {{movie.genre}}</app-squared-paragraph>
      <app-squared-paragraph><b>Production country:</b> {{movie.countryOfProduction}}</app-squared-paragraph>
      <app-squared-paragraph><b>Premiere:</b> {{movie.releaseDate| date:'mediumDate'}}</app-squared-paragraph>
      <div class="action-container">
        <mat-icon (click)="deleteMovie()">delete_forever</mat-icon>
        <mat-icon (click)="openEditMovieDialog()">edit</mat-icon>
        <app-next-back-button *ngIf="!isDetailsComponent" routerLink="{{movie.pieceId}}">Obsada</app-next-back-button>
        <app-next-back-button arrowDirection="left" *ngIf="isDetailsComponent" routerLink="./..">Powrót
        </app-next-back-button>
      </div>
    </div>
    <div class="info-underlay">
      <div class="info-underlay-dot"></div>
    </div>
  </div>
</div>
